<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyberspace</title>
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Cyberspace">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= desc %>">
    <meta name="description" content="<%= desc %>">
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="https://src.simplecyber.org/base.css?v=1">
    <link rel="stylesheet" href="https://src.simplecyber.org/base.light.css">
    <link rel="stylesheet" href="/assets/main.css">
    <script defer src="https://src.simplecyber.org/tabbable.js"></script>
    <script defer src="https://src.simplecyber.org/focus-trap.js"></script>
    <script defer src="https://src.simplecyber.org/Sortable.js"></script>
    <script defer src="https://src.simplecyber.org/base.js"></script>
    <script defer src="/assets/main.js"></script>
</head>
<body>
    
</body>
</html>